* {
    box-sizing: border-box;
}

/* HEADER */

.header {

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 170px 1fr;

    padding: 92px 0 96px 0px;
    width: 1100px;
}

.header__menu {
    width: 390px;

    margin-left: 25px;
}

/* HEADER LINK */

.header__links-list {
    display: flex;
    justify-content: space-between;
}

.header__links-list-item_no-bullit {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;

    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__link {
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    text-align: left;

}

/* HEADER LOGO */

.header__logo {
    width: 148px;
    height: 105px;

    padding-left: 6px;
}

.header__logo-image {
    width: 137px;
    height: 106px;
}

/* HEADER ADDRESS */

.header__address {
    margin-left: 90px;
    margin-top: 5px;
}

.address__list {
    list-style-type: none;
}

.address__text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
}

/* COVER */

.cover {
    position: relative;
    z-index: 0;

    width: 1100px;
    min-height: 757px;

    display: flex;
    flex-direction: column;

    background: url(../images/cover.jpg) no-repeat center / cover;
    background-size: cover;
    background-position: center;
}

.cover__title {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    text-transform: uppercase;

    color: #fff;

    margin: 165px 50px 135px 50px;
}

/* COVER TEXT LEFT */

.aligned-text {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;
}

.aligned-text .letter-spacing-extended {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.6em;
    text-align: left;
}

/* COVER TEXT CENTER */

.aligned-text_center {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
    text-align: center;

    margin-top: 20px;
}

.aligned-text_center .letter-spacing-extended {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.6em;
    text-align: center;

}

/* COVER TEXT REIGHT */

.aligned-text_right {

    display: flex;
    justify-content: flex-end;

    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.6em;
    text-align: right;

    margin-top: 20px;
}

.aligned-text_right .letter-spacing-extended {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
    text-align: right;
}

.no-letter-spacing {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0;
    text-align: right;
}

/* OVERLAY */

.overlay {
    position: absolute;

    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;

    z-index: 1;
}

/* COVER DESCRIPTION */

.cover__description {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 77px;
}

.cover__description-text {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 0.83em;
    text-align: left;

    color: #fff;

    width: 637px;

    margin-left: 30px;
}

.cover-extented {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1.1em;
    text-align: left;
}

/* COVER BUTTON */

.bet-button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;

    color: #fff;
    border-color: #fff;
    background-color: transparent;

    width: 256px;
    min-height: 50px;
}

/* LOTS */

.lots {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 179px 24px 146px 24px;
}

.lots__heading {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;

    padding-left: 40px;
    padding-bottom: 26px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 100%;
}

.lots__card-list-item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots__look-more-link {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;

    padding-top: 22px;
    padding-left: 40px;
}

/* CARD */

.card-link {
    text-decoration: none;

    width: 100%;
    height: 100%;
}

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-position: center;
    background-size: cover;

    color: #fff;

    width: 334px;
    height: 100%;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.lots__card-list-item .card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 1;

    text-decoration: underline;
    text-transform: uppercase;

    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;

    max-width: 254px;
    
    margin-top: 52px;
    margin-left: 40px;
}

.card__text {
    position: relative;
    z-index: 1;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    max-width: 254px;

    margin-bottom: 48px;
    margin-left: 40px;
}

/* ABOUT */

.about {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    width: 240px;
    height: 240px;

    margin-left: 47px;

    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__text-block {
    width: 693px;

    margin-top: 100px;
}

.about__title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;

    margin-bottom: 100px;
}

.about__text {
    font-family: 'Raleway', sans-serif;
    font-size: 20.1px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;

    margin-top: 17px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;

    padding: 175px 50px 88px 50px;
    
}

/* FOOTER ADDRESS */

.address-list {
    list-style-type: none;
}

.footer__address-number {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer__address-email {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* FOOTER MENU */

.footer__menu {
    display: flex;
}

.footer__menu-list {
    list-style-type: none;

    padding-top: 0.8px;
    padding-left: 38px;
}

.footer__menu-list-item {
    text-align: center;
}

.footer__menu-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    
}

.header__links_active {
    text-decoration: none;
}

/* FOOTER LINK */

.footer__social-list {
    width: 240px;
}

.footer__social-list-item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}